https://github.com/Mahesh0253/pyrogram/archive/inline.zip
numpy
yt-dlp
Pillow
hachoir
olefile
requests
tgcrypto
aiofiles
dnspython
motor[srv]
beautifulsoup4
humanize
Flask
aiohttp==3.8.1
pymongo[srv]==3.12.3
gunicorn
